/* This file is part of Zapcat.
 *
 * Zapcat is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 * 
 * Zapcat is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * Zapcat. If not, see <http://www.gnu.org/licenses/>.
 */

body {
	background-color: #e6e5ff;
	color: #473b3b;
	font-family: 'GillSans', 'Gill Sans', 'Trebuchet MS', 'sans-serif';
	margin-left: 200px;
}

h1 {
	font-size: 36px;
	color: #969696;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 421px;
}

p {
	font-size: 15px;
	width: 421px;
}

table {
	border-spacing: 0;
}

td.mbean {
	padding-top: 18px;
	font-size: 11px;
}

td.attrib {
	font-size: 11px;
}

a {
	color: #473b3b;
	text-decoration: underline;
}

a:visited {
	color: #473b3b;
	text-decoration: underline;
}

a:hover {
	color: #666666;
	text-decoration: underline;
}